
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #222;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 3px;
  font-family: monospace;
}


main:has(section:in-view) .nav-bar,
body:not(:has(.nav-bar:in-view)) .nav-bar {
  background: rgba(0, 0, 0, 0.85); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-bar a:hover {
  color: #00bfff;
  transform: translateY(-2px);
}

.slider-text{
  font-weight: 500;
    margin-top: 16px;
}